/* General Container */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Text Styling */
.heading {
  font-weight: bold;
  font-size: 25px;
}

.subtext {
  margin-top: 10px;
}

/* Ticket Wrapper */
.ticket-wrapper {
  width: fit-content;
  height: 100%;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  padding: 40px;
}

.ticket-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.ticket-container {
  /* padding: 40px; */
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* Ticket Card */
.ticket-card {
  position: relative;
  border: 2px solid #24a0b5;
  background: #072c31;
  color: white;
  padding: 15px;
  z-index: 30;
}

.ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: auto;
}

/* Ticket Card Corners */
.corner {
  width: 32px;
  height: 32px;
  position: absolute;
  background: #041e23;
  border: 2px solid #24a0b5;
  border-radius: 50%;
}

.top-left {
  top: -16px;
  left: -16px;
}

.top-right {
  top: -16px;
  right: -16px;
}

.bottom-left {
  bottom: -16px;
  left: -16px;
}

.bottom-right {
  bottom: -16px;
  right: -16px;
}

/* Ticket Content */
.ticket {
  border: 2px solid #24a0b5;
  /* width: 400px; */
  border-radius: 20px;
  padding: 15px;
  background: #072c31;
}

/* Ticket Header */
.ticket-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ticket-header {
  text-align: center;
}

.ticket-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px;
  border: 2px solid #133d44;
  background: #08343c;
  border-radius: 12px;
}

.ticket-grid p {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  border-bottom: 1px solid gray;
  /* border-right: 2px solid gray; */
  padding-left: 15px;
  padding-bottom: 10px;
}

.ticket-grid span {
  color: #d2cccc92;
  font-weight: light;
  font-size: 15px;
}

.event-title {
  font-size: 25px;
  font-weight: 800;
  color: white;
  text-wrap: nowrap;
}

.event-info {
  padding-top: -10px;
}

.event-details {
  color: white;
  font-size: 13px;
}

/* Image */
.image-container {
  margin-top: 30px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid #21535c;
}

/* Ticket Info */
.ticket-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px;
  border: 2px solid #133d44;
  background: #08343c;
}

.ticket-detail {
  /* padding: 8px; */
  border-bottom: 2px solid #133d44;
  margin: auto;
  display: block;
  align-items: center;
  justify-content: center;
}

.ticket-detail img {
  width: 150px;
  height: 150px;
  border: 3px solid #48d1cc;
  border-radius: 12px;
  margin: 20px auto;
   display: block;
  align-items: center;
  justify-content: center;
 
}

.ticket-detail:nth-child(odd) {
  border-right: 2px solid #133d44;
}

.special-request {
  grid-column: span 2;
}

/* Labels & Values */
.label {
  color: #807f7fa4;
  font-size: 15px;
}

.ticket-head {
  display: flex;
  justify-content: space-between;
}

.progress-bar3 {
  width: 100%;
  position: relative;
  background: gray;
  height: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.progress-status3 {
  width: 100%;
  height: 5px;
  background: #48d1cc;
  z-index: -10px;
  position: absolute;
}

/* Dashed Line */
.dashed-line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #041e23;
  height: 2px;
  border-top: 2px dashed #24a0b5;
}

/* Barcode */
.barcode-wrapper {
  width: 90%;
  overflow: hidden;
  margin: 20px auto;
}

.barcode {
  width: 90%;
  border: 1px solid #24a0b5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 25px 10px;
  background: #072c31;
  text-align: center;
  border-radius: 20px;
  margin: 20px auto;
}

.barcode-image {
  width: 95%;
  height: 80px;
  object-fit: cover;
}

/* Buttons */
.buttons {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-top: 50px;
}

.btn {
  width: 100%;
  border-radius: 5px;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.book-again {
  border: 1px solid #24a0b5;
  color: #24a0b5;
  background: transparent;
}

.download {
  background: #24a0b5;
  color: white;
}

/* Responsive */
@media (min-width: 768px) {
  
  .value {
    font-size: 17px;
  }

  .buttons {
    flex-direction: row;
  }

  .btn {
    width: auto;
    min-width: 150px;
  }
}
